<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тесты</title>

    <link rel="stylesheet" href="../../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>


</head>
<body>
<header th:insert="blocks/header :: header"></header>


<form th:method="POST" th:action="@{/admin/tests}">
    <label for="query">Введите поисковый запрос</label>
    <input type="text" name="query" id="query">
    <br>
    <input type="submit" value="Поиск">
</form>

<div th:if="${tests}">
    <div th:if="${tests.isEmpty()}">
        <p>По вашему запросу ничего не найдено</p>
    </div>

    <div th:if="${!tests.isEmpty()}">
        <p th:text="${'По вашему запросу найдено ' + tests.size() + ' результат(ов)'}"></p>
    </div>

    <div th:each="test : ${tests}">
        <p th:text="${'Название: ' + test.title}">TEST TITLE</p>
        <p th:text="${'Имя автора: ' + test.owner.firstName + ' ' + test.owner.lastName}">TEST AUTHOR</p>
        <p th:text="${'ID: ' + test.id}">TEST ID</p>

        <form th:method="DELETE" th:action="@{/admin/tests/{id}(id=${test.id})}">
            <input type="submit" value="Удалить" style="color: red">
        </form>
        <hr>

    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>