<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headLinks :: head"></div>
    <title>О нас</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<main>
    <div class="container col-lg-6 col-xs-9 pt-3 mt-5">
        <h4>О нас</h4>
        <hr>
        <div class="p-3 mb-4  border border-3 rounded-2 bg-light">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad cumque eaque eveniet optio quae
                quibusdam quisquam reiciendis ut vel?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque debitis harum quidem quisquam quod
                repellat saepe ullam veniam voluptates. A, accusantium ad amet architecto blanditiis distinctio
                doloribus earum eius eligendi error excepturi illo, ipsam laboriosam laudantium neque, nesciunt nobis
                placeat quaerat quisquam reiciendis rerum totam vel? Ab adipisci consectetur, error praesentium
                repellendus ullam. Atque commodi dolor eum eveniet, ex natus nostrum obcaecati optio praesentium rem
                repellat repudiandae sunt vero? Dolor dolorem explicabo harum nostrum perspiciatis praesentium, repellat
                repudiandae! Aliquam aut, commodi deserunt dicta est, ex excepturi exercitationem fugiat impedit in ipsa
                libero magni, necessitatibus nisi perspiciatis placeat possimus quia quis rerum saepe tempora tempore
                totam voluptatum! Ad amet, animi aut consectetur cupiditate dicta dolor dolorem fugit hic maiores nemo
                nisi non nostrum odio odit officiis, quam quisquam quod tempore ullam veritatis vero, voluptatum? Ad
                dolorum et harum in inventore, ipsam laudantium minus obcaecati porro quas quis quisquam quo reiciendis
                saepe ullam. Accusamus alias aliquid amet debitis dignissimos dolorem doloremque dolorum eaque eligendi
                eos est eum harum incidunt inventore magni nam neque nihil nostrum nulla, officiis possimus provident
                rerum tempore voluptates voluptatum. Delectus dolores, dolorum esse incidunt magnam saepe unde vel? Cum
                exercitationem nam natus nisi nobis obcaecati optio voluptatum.</p>

                <p>Ссылки</p>
                <p>-----------------------------------------------------------------</p>
        </div>
    </div>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>