<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тестирование</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div th:if="${test.isEmpty()}">
    <p>Извините, данный тест не существует или был удален</p>
</div>
<!-- TODO добавить сортировку-->
<div th:if="${!test.isEmpty()}">
    <h3 th:text="${test.get().getTitle()}"></h3>
    <p th:text="${test.get().category.title}"></p>
    <p>
        Количество вопросов:
        <span th:text="${test.get().getCountOfQuestions()}"></span>
    </p>
    <p>
        Количество решений:
        <span th:text="${test.get().getCountOfDecisions()}"></span>
    </p>
    <p>
        Дата создания:
        <span th:text="${test.get().getDateOfCreation()}"></span>
    </p>
    <p>
        Автор:
        <span th:text="${test.get().getOwner().getFirstName()
        + ' ' + test.get().getOwner().getLastName()}"></span>
    </p>

    <a th:href="@{/test/{id}/show(id=${test.get().getId()})}">Начать решение</a>


</div>


<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>