<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<form th:if="${user}" th:method="PATCH" th:action="@{/user/edit}" th:object="${user}">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{yearOfBirth}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{login}">

    <label for="firstName">Введите имя:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FIRSTNAME ERROR</div>
    <br>
    <label for="lastName">Введите фамилию:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LASTNAME ERROR</div>
    <br>
    <input type="submit" value="Обновить">

</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>