<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headLinks :: head"></div>
    <title>Новый тест</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<form th:method="POST" th:action="@{/teacher/new}" th:object="${test}">
    <div class="container border border-3 rounded-2 bg-light col-lg-5 col-xs-9 pt-3 mt-5 pb-2">
        <h4>Создание теста</h4>
        <hr>
        <input class="form-control" type="hidden" th:field="*{owner}">

        <label class="form-label" for="title">Название теста</label>
        <input class="form-control" type="text" th:field="*{title}" id="title">
        <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">TITLE ERROR</div>
        <br>
        <label class="form-label" for="category">Категория теста</label>
        <select class="form-select" id="category" th:field="*{category}">
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
        </select>
        <br>
        <label class="form-label" for="countOfQuestions">Количество вопросов</label>
        <input class="form-control" type="number" th:field="*{countOfQuestions}" id="countOfQuestions">
        <div class="text-danger" th:if="${#fields.hasErrors('countOfQuestions')}" th:errors="*{countOfQuestions}">COUNT
            ERROR
        </div>
        <br>
        <input class="btn btn-outline-primary" type="submit" value="Продолжить">
    </div>
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>