<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый тест</title>

    <link rel="stylesheet" href="../../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<form th:method="POST" th:action="@{/teacher/add}" th:object="${test}">
    <input type="hidden" th:field="*{owner}">
    <input type="hidden" th:field="*{countOfQuestions}">
    <input type="hidden" th:field="*{category}">
    <input type="hidden" th:field="*{title}">

    <div th:each="question, iterstat : *{questions}">

<!--        <input type="hidden" th:value="${iterstat.index}" th:field="*{questions[__${iterstat.index}__].number_of_question}">-->
        <label for="title">Вопрос №</label><span th:text="${iterstat.index+1}"></span>
        <input type="text" title="Строка не может быть пустой" required  minlength="4" maxlength="100" th:field="*{questions[__${iterstat.index}__].title}" id="title"><br>

        <label for="firstAnswer">Первый ответ </label>
        <input type="text" title="Строка не может быть пустой" required  maxlength="100" th:field="*{questions[__${iterstat.index}__].firstAnswer}" id="firstAnswer"><br>

        <label for="secondAnswer">Второй ответ </label>
        <input type="text" title="Строка не может быть пустой" required  maxlength="100" th:field="*{questions[__${iterstat.index}__].secondAnswer}" id="secondAnswer"><br>

        <label for="thirdAnswer">Третий ответ </label>
        <input type="text" title="Строка не может быть пустой" required  maxlength="100" th:field="*{questions[__${iterstat.index}__].thirdAnswer}" id="thirdAnswer"><br>

        <label for="fourthAnswer">Четвертый ответ </label>
        <input type="text" title="Строка не может быть пустой" required  maxlength="100" th:field="*{questions[__${iterstat.index}__].fourthAnswer}" id="fourthAnswer"><br>

<!--        TODO Не работает-->
<!--        <div style="color: red" th:if="${#fields.hasErrors('questions[__${iterstat.index}__].fourthAnswer')}" th:errors="*{questions[__${iterstat.index}__].fourthAnswer}">ANSWER ERROR</div>-->

        <label for="correctAnswerId">Номер правильного ответа </label>
        <input required type="number" min="1" value="1" max="4" th:field="*{questions[__${iterstat.index}__].correctAnswerId}" id="correctAnswerId">
        <hr>
    </div>
    <input type="submit" value="Создать">
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>