<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="blocks/headLinks :: head"></div>
    <title>Мои тесты</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main>
<div th:if="${tests.isEmpty()}" class="text-center mt-5">
    <p class="fs-5 text-secondary">У вас пока нет собственных тестов</p>
    <a class="link-primary" th:href="@{/teacher/new}">Создать</a>
</div>

<div th:if="${!tests.isEmpty()}" class="container mt-5 col-lg-6 col-md-8 col-sm-12 justify-content-center">
    <h4>Мои тесты</h4>
    <hr>

    <div th:each="test : ${tests}" class="card my-5">
        <div class="card-header">
            <span th:text="'Название: ' + ${test.title}"></span>
        </div>
        <div class="card-body bg-light">
            <p class="card-text" th:text="'Категория: ' + ${test.category.title}"></p>
            <p class="card-text" th:text="'Количество вопросов: ' + ${test.countOfQuestions}"></p>
            <p class="card-text" th:text="'Количество решений: ' + ${test.countOfDecisions}"></p>
            <p class="card-text" th:text="'Дата создания: ' + ${test.dateOfCreation}"></p>


            <div class="row mt-2 justify-content-between">
                <form class="justify-content-center col-xl-4 col-xxl-3 col-sm-5 mb-2" th:method="GET" th:action="@{/teacher/{id}/edit(id=${test.id})}">
                    <input class="btn btn-outline-primary col-12" type="submit" value="Редактировать">
                </form>

                <form class="justify-content-center col-xl-4 col-xxl-3 col-sm-5 mb-2" th:method="DELETE" th:action="@{/teacher/{id}(id=${test.id})}">
                    <input class="btn btn-outline-danger col-12" type="submit" value="Удалить">
                </form>
            </div>
        </div>

    </div>

</div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>